html {
    font-size: 62.5%;
}

body {
    background-image: url('../images/infinityWarBG.png');
    font-size: 2.5rem;
    color: #000;
}

.wrapper {
    width: 90rem;
    height: 100vh;
    margin: 0 auto;
}

.content-title {
    font-size: 7rem;
}

.game-screen {
    margin-top: 10rem;
    height: 80%;
    opacity: 1;
}

#basicUsage {
    width: fit-content;
    height: 10rem;
}

.selection:hover {
    border: .1rem solid pink;
    background: rgb(255, 136, 0);
    color: yellow;
    font-size: 5rem;
    cursor: grabbing;
}

img {
    margin-top: 2rem;
    opacity: 1;
}

.answer, .question {
    width: fit-content;
    text-align: center;
}